<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @copyright 2019-2020 Dicr http://dicr.org
  ~ @author Igor A Tarasov <develop@dicr.org>
  ~ @license GPL
  ~ @version 12.08.20 05:32:54
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Dicr Test Suite">
            <!-- directory>./tests/*Test.php</directory -->
            <file>tests/LocalFileStoreTest.php</file>
            <file>tests/TranslateTest.php</file>
            <file>tests/CSVFileTest.php</file>
            <file>tests/CSVResponseFormatterTest.php</file>
            <!-- file>tests/SftpFileStoreTest.php</file-->
            <!-- file>tests/FtpFileStoreTest.php</file-->
        </testsuite>
    </testsuites>
</phpunit>
